Tests: run-testsuite
Depends: libcap-dev [linux-any],
         libelf-dev,
         libgdbm-dev,
         libncursesw5-dev,
         libpcre3-dev,
         zsh,
         zsh-dev

Tests: adequate
Depends: adequate:native,
         @
Restrictions: superficial
